* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}
ul, li {
    list-style: none;
}

button {
    color: #fff;
    background-color: rgb(235, 81, 81);
    border: 1px solid rgb(214, 86, 86);
}

button:hover {
    background-color: rgb(146, 21, 21);
}

.navigation__list--item:focus {
    background-color: rgb(209, 32, 32);
}

.navigation,
.navigation_bot,
.navigation_mid {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.navigation__prev {
    padding: 15px 20px;
}

.navigation__list {
    display: flex;
    margin: 0 20px;
}


.navigation__list--item-mid {
    background-color: initial;
    color: black;
    border: none;
    padding: 2px 10px;
    color: gray;
    cursor: pointer;
}

.navigation__list--item-mid:hover {
    color: rgb(235, 81, 81);
    background-color: initial;
}

.navigation__list--item-mid:focus {
    color: rgb(235, 81, 81);
}

.navigation__list-bot {
    margin: 0 2px;
}

.navigation__list--item {
    padding: 15px;
}







.tags {
    display: flex;
    justify-content: center;
}

.tags__items {
    text-align: left;
    display: inline-block;
}

.tags__item {
    padding: 10px 30px 10px 5px;
    background-color: #e1e4e9;
    border: none;
    display: inline-block;
    text-align: left;
    position: relative;
    color: #000;
    border-radius: 4px;
}

.tags__item:hover {
    background-color: rgb(241, 159, 159);
}

.tags__item:focus {
    background-color:rgb(146, 21, 21); 
}

.tags__item1 span img {
    position: absolute;
    right: 6px;
    top: 11px;
}

.tags__item5 span img {
    position: absolute;
    right: 6px;
    top: 11px;
}

.tags__item4 span img {
    position: absolute;
    right: 6px;
    top: 11px;
}

.tags__item8 span img {
    position: absolute;
    right: 6px;
    top: 11px;
}




.toggle {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn__toggle {
    border: 0;
    border-radius: 50px;
    background-color: #c00;
    width: 110px;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.btn__toggle::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.btn__toggle::after {
    content: "On";
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-left: auto;
    padding: 0 8px;
}

.btn__toggle label {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.toggle input {
    display: none;
}

.toggle input:checked ~ .btn__toggle {
    flex-direction: row-reverse;
}

.toggle input:checked ~ .btn__toggle::after {
    content: "Off";
}

.qwer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 10px solid black; */
    display: flex;
    font-weight: 900;
    /* font-style: italic; */
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-size: 80px;
    margin-top: 40px;
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(192, 190, 190);
}